#_modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  &.active {
    display: block;
  }
  
  .modal-overlay {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.18);
  }

  .modal-container {
    background-color: #fefefe;
    position: absolute;
    top: 50vh;
    left: 50vw;
    padding: 3rem;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: .3rem;
    box-shadow: 1px 2px 12px 0 rgba(0,0,0,0.1);
    width: 40%;
    min-width: 250px;
    max-width: 95vw;
    max-height: 80vh;
    z-index: 100;
    overflow: inherit;

    .close {
      color: #aaa;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      &:hover,
      &:focus {
        color: #898989;
        text-decoration: none;
        cursor: pointer;
      }
    }
    
  }
}