#_timetable {
  .period-cell {
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    .time {
      flex: 1;
      position: relative;
      span {
        position: absolute;
        transform: translateY(-50%);
      }
    }
    .info {
      flex: 5;
      border-top: solid 1px #ddd;
      &, & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: .5rem 0;
      }

      .select {
        margin: 0;
      }
      .btn-remove {
        position: absolute; 
        right: 2rem; 
        top: 0; 
        font-weight: 900;
        font-size: 1.8rem; 
        cursor: pointer;
        color: $error-color;
      }
    }

    &.occupied .info {
      background-color: lighten($primary-color, 30%);
      border-color: $primary-color;
      border-width: 1.5px;
      border-top-style: dashed;
    }

    &.occupied+.period-cell .info {
      border-color: $primary-color;
      border-width: 1.5px;
      border-top-style: dashed;
    }

    &.self .info {
      background-color: lighten($success-color, 30%);
      border-color: $success-color !important;
      border-width: 1.5px;
      border-top-style: dashed;
    }
    
    &.self+.period-cell .info {
      border-color: $success-color;
      border-width: 1.5px;
      border-top-style: dashed;
    }

    &:last-of-type {
      min-height: inherit;
    }

    &.filler {
      .info {
        font-weight: 500;
        background-color: rgba(#c0c5d3, .3);
      }
    }
  }
}