#_homepage {
  .display-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .class-select-group {
    margin-bottom: 2rem;
  }

  .no-class {
    font-weight: 500; 
    color: #a0a0b3;
    margin-top: 5rem; 
    text-align: center;
  }

  .carousel-3d-container {
    --container-padding: 1rem;
    padding: var(--container-padding) 0;
    height: calc(602px + var(--container-padding) + var(--container-padding)) !important;
  }

  .slide {
    background-color: #fcfcfc;
    border: solid 1px #eee;
    padding: 1.5rem;
    transition: filter 500ms;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    height: 60vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cfcfcf;
    }

    .slide-container {
      @media screen and (min-width: 550px) {
        padding: 0 1rem;
      }
      .title {
        text-align: center;
      }
      .timetable {
        margin-top: 3rem;
      }
    }
  }

  #_modal {
    .modal-body {
      padding: 1rem;
      .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        @media screen and (min-width: 550px) {
          flex-direction: row;
        }
        .label {
          font-weight: 500;
        }
      }

      @media screen and (min-width: 1200px) {
        .three {
          width: 13.3333333333%;
        }

        .nine {
          width: 74.0%; 
        }
      }
    }
    &.delete-modal .modal-container {
      min-height: inherit;
      width: 20%;
      min-width: 200px;
    }
  }
}