#_login {
  margin: 50vh auto 0;
  transform: translateY(-50%);
  padding: 1rem;
  max-width: 500px;

  @media screen and (min-width: 550px) {
    padding: 2rem; 
  }

  .password-input {
    letter-spacing: .8rem;
  }

  .submit-button {
    margin-top: 8rem;
    .button {
      @media screen and (min-width: 550px) {
        font-size: 1.5rem; 
      }
    }
  }
}